body {
  --cw-dark-gray: #434343;
  --cw-dark-red: #A52A00;
  --brighter-red: #e60000;
  color: var(--cw-dark-gray);
}

h1, h2, h3 {
  font-family: 'Calisto MT', 'Times New Roman', Times, serif;
}

h1 {
  font-size: 2.6rem;
  font-weight: 200;
}

h2 {
  font-size: 1.9rem;
  font-weight: 200;
  padding-top: 60px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 200;
}

.bg-dark-cw {
  background-color: var(--cw-dark-gray);
}

.container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.header {
  text-align: center;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.project {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.gallery-row {
  padding: 0.1rem;
}

.gallery-col {
  padding: 0.3rem;
}

.card {
  height: 100%;
  width: 100%;
}

.gallery-image {
  width: 100%;
}

.card-text {
  font-size: .8rem;
}

.tech-info {
  font-size: .7rem;
}

.card-link {
  font-size: .8rem;
}

form {
  font-size: .8rem;
}

label {
  margin-top: 1rem;
}

.required {
  color: var(--brighter-red);
}

.submit-buttons {
  padding: .5rem 0;
}

.btn {
  width: 8rem;
}
